:root{
  --teal: #00ffff;
  --teal_hover: #006464;
}

.h-font{
  font-family: 'Times New Roman', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}    
.custom-bg{
  background-color: var(--teal);
  border: 1px solid var(--teal);

}
.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
    
}
.h-line{
  width:150px;
  margin:0 auto;
  height: 1.7px;

}